main {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
    "hero hero"
    "animes posts"
    "mangas posts"
    "reviews posts"
    "updates updates";
  margin: 2rem;
  gap: 1rem;
}

#hero {
  grid-area: hero;
  background-image: url(../img/hero.jpg);
  border-radius: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  height: 0;
  padding-top: 35%;
}

#hero::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  background: inherit;
  filter: blur(30px);
  z-index: -1;
}

#trending_anime {
  grid-area: animes;
  width: 100%;
  max-height: max-content;
  overflow-x: auto;
}

#anime_list,
#manga_list {
  gap: 10px;
  flex-wrap: nowrap;
  padding: .5rem;
}

#trending_manga {
  grid-area: mangas;
  width: 100%;
  overflow-x: auto;
}

#trending_anime::-webkit-scrollbar, #trending_manga::-webkit-scrollbar {
  height: 22px;
}

#trending_anime::-webkit-scrollbar-thumb, #trending_manga::-webkit-scrollbar-thumb {
  border: 8px solid var(--background);
  border-radius: 3rem;
}

#review_section {
  grid-area: reviews;
}

#site_updates {
  grid-area: updates;
}

#user_posts {
  grid-area: posts;
  max-height: 100%;
  overflow-y: scroll;
}

.anime,
.manga {
  background-color: var(--card-background);
  width: 200px;
  height: 280px;
  border-radius: 1rem;
  padding: 0.5rem;
  transition: all 300ms;
  border: 2px solid var(--border-color);
}

.manga {
  height: 320px;
}

.manga_img {
  margin: auto;
}

.anime img,
.manga img {
  border-radius: 0.5rem;
  max-width: 200px;
  align-items: center;
}

.anime h3,
.manga h3 {
  text-align: center;
  padding: 0.25rem;
  margin: 0.25rem;
}

.anime:hover,
.manga:hover {
  width: 500px;
  transition: all 300ms;
  box-shadow: 0px 0px 16px var(--secondary);
}

.anime:hover .anime_details,
.manga:hover .manga_details {
  transition: all 300ms;
  opacity: 1;
}

.anime_details,
.manga_details {
  width: 200px;
  margin-left: 0.75rem;
  opacity: 0;
  align-content: center;
  align-items: center;
  transition: all 300ms;
}

.anime_buttons,
.manga_buttons {
  width: 200px;
  gap: 10px;
}

.watch,
.read {
  border-radius: 1rem;
  width: 90%;
  padding: 0.25rem 1rem;
  border: none;
  background-color: var(--primary);
  font-family: "Inter", sans-serif;
  color: var(--text);
}

.plan {
  border-radius: 1rem;
  width: 90%;
  padding: 0.25rem 1rem;
  border: 1px solid var(--primary);
  background-color: var(--card-background);
  font-family: "Inter", sans-serif;
  color: var(--text);
}

.synopsis {
  font-size: smaller;
  overflow-y: auto;
  margin-bottom: 0.75rem;
  color: var(--secondary-text);
}

.synopsis::-webkit-scrollbar-thumb {
  background: none;
  transition: all 600ms;
}

.synopsis:hover::-webkit-scrollbar-thumb {
  background: var(--secondary);
  border: 1px solid var(--card-background);
  transition: all 600ms;
}

#posts {
  gap: 10px;
  padding: 1rem;
}

.post {
  border: 1px var(--border-color) solid;
  border-radius: 1rem;
  padding: 1rem;
  background-color: var(--card-background);
  height: 125px;
}
.post h4 {
  margin: 0.25rem;
}

.post span {
  color: var(--secondary-text);
  font-size: small;
  margin: 0.25rem;
  height: 100px;
  overflow-y: scroll;
}

.post span::-webkit-scrollbar-thumb {
  display: none;
}

.post span:hover::-webkit-scrollbar-thumb {
  display: block;
}

.post img {
  max-height: 125px;
  border-radius: 0.75rem;
}

#site_updates div {
  width: 100%;
}

#reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.review {
  background-color: var(--card-background);
  padding: 1rem;
  border-radius: 0.5rem;
  /* box-shadow: 0px 0px 5px var(--card-shadow); */
  border: 1px solid var(--border-color);
}

.review img {
  max-width: 100%;
  max-height: 150px;
  margin: auto;
  border-radius: 0.25rem;
}

.review h4 {
  margin: 0.5rem 0;
}

.review span {
  color: var(--secondary-text);
  font-size: small;
}

.icons {
  justify-content: end;
  gap: 20px;
  margin-top: 1rem;
}

.icons .flex {
  transition: all 300ms;
}

.icons .flex:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.icons img {
  max-width: 16px;
  margin-right: 4px;
}

.update {
  background-color: var(--card-background);
  border-radius: 1rem;
  border: 1px solid var(--border-color);
  display: grid;
  grid-template-areas: "img title time" "changelog changelog changelog";
  justify-content: start;
  align-items: center;
  margin: 1rem 1rem 1rem 0rem;
}

.update_logo {
  max-width: 30px;
  padding: .5rem;
  margin: .5rem 1rem 0rem 1rem;
  border-radius: 2rem;
  grid-area: img;
}

.update .title {
  grid-area: title;
  margin: .5rem 1rem 0rem 1rem;
}

.update .time {
  margin: .5rem 1rem 0rem 1rem;
  color: var(--secondary-text);
  font-size: x-small;
}

.update .changelog {
  grid-area: changelog;
}


/* Change Hero background Image in media query */
@media screen and (max-width: 1100px) {
  main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "hero"
      "animes"
      "mangas"
      "posts"
      "reviews"
      "updates";
  }

  #posts {
    padding: 0;
  }
}

@media screen and (max-width: 700px) {
  #reviews {
    grid-template-columns: 1fr;
  }
}
