body {
    font-family: "Inter";
}

header {
    font-family: "Protest Revolution";
    text-align: center;
}



a {
    color: white;
    text-decoration: none;
}

a:hover{
    color: #f94449;
}

main{
    display: flex;
    flex-direction: row;
}