body {
  margin: 0px;
}

.pro-container {
  padding: 0px;
}

.pro-profile-container {
  min-height: 400px;
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 20px auto;
  background-image: url("../img/hero.jpg");
  background-size: cover;
  background-position: center;
  mask-repeat: no-repeat;
  overflow: hidden;
}

.pro-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-image: url("./assets/Jujutsu Kaisen anime.png");
  background-size: cover;
  background-position: center;
  mask-repeat: no-repeat;
  overflow: hidden;
  border: 2px solid var(--secondary);
}

.pro-profile img {
  max-height: 100%;
  max-width: 100%;
}

.pro-username {
  font-size: 30px;
  font-weight: 600;
  margin-left: 20px;
}

.pro-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background);
  padding: 1rem 0;
  flex-wrap: wrap;
  width: fit-content;
  margin: auto;
  border-radius: .5rem;
}

.pro-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.pro-container h2 {
  text-align: center;
}

.pro-nav a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.pro-nav a:hover {
  background: linear-gradient(45deg, var(--primary), var(--secondary));
  color: #fff;
}

.pro-history {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}

.pro-activity-history,
.pro-genre-overview,
.pro-score-view-1,
.pro-score-view-2 {
  height: fit-content;
  padding: 10px;
}

.pro-activity-history {
  grid-column: 1;
  grid-row: 1;
}

.pro-activity-block-container {
  display: flex;
  flex-wrap: wrap;
  padding: 8px;
  background-color: var(--primary);
  border-radius: .5rem;
}

.pro-activity-block {
  height: 10px;
  width: 10px;
  background-color: var(--text);
  margin: 0px 4px 4px 0px;
  border-radius: 4px;
}

.pro-activity-block:hover {
  background-color: var(--background) !important;
}

.pro-activity-block-field {
  background-color: var(--background) !important;
}

.pro-genre-overview {
  grid-column: 2;
  grid-row: 1;
}

.pro-genre-overview-container {
  padding: 8px;
  display: flex;
  justify-content: center;
}

.pro-genre-overview-field-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0px 12px;
}

.pro-genre-overview-field-title {
  padding: 8px;
  color: white;
  width: fit-content;
  border-radius: 6px;
  margin-bottom: 2px;
}

.pro-green-color {
  background-color: green;
}

.pro-blue-color {
  background-color: rgb(56, 150, 187);
}

.pro-palevioletred-color {
  background-color: palevioletred;
}

.pro-purple-color {
  background-color: purple;
}

.pro-orange-color {
  background-color: orange;
}

.pro-genre-overview-field-value {
  font-size: 16px;
}

.pro-genre-overview-border {
  display: flex;
  height: 10px;
  width: auto;
}

.pro-genre-overview-border-green-color {
  background-color: green !important;
  flex: 1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pro-genre-overview-border-blue-color {
  background-color: rgb(56, 150, 187) !important;
  flex: 1;
}

.pro-genre-overview-border-palevioletred-color {
  background-color: palevioletred !important;
  flex: 1;
}

.pro-genre-overview-border-purple-color {
  background-color: purple !important;
  flex: 1;
}

.pro-genre-overview-border-orange-color {
  background-color: orange !important;
  flex: 1;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.pro-score-view-1 {
  grid-column: 1;
  grid-row: 2;
}

.pro-score-statics {
  padding: 12px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-background);
  border: 1px solid var(--border-color);
  color: white;
  border-radius: 1rem;
}

.pro-score-view-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.pro-score-slider-container {
  display: flex;
  width: 100%;
  margin-top: 2px;
}

.pro-score-slider-background {
  width: 100%;
  background-color: var(--text);
  height: 20px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.pro-score-slider-filled {
  width: 190px;
  background-color: var(--primary) !important;
  height: 20px;
  border-radius: 1rem 0 0 1rem;
}

.pro-score-slider-measurement {
  margin-top: 2px;
  display: flex;
}

.pro-score-slider-measurement div {
  flex: 1;
  text-align: center;
}

.pro-score-count {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 6px;
}

.pro-score-label {
  font-size: 20px;
  font-weight: 500;
}

.pro-score-view-2 {
  grid-column: 2;
  grid-row: 2/3;
}

.pro-top-container {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.pro-activity {
  padding: 10px;
}

.pro-label {
  width: 100%;
  margin: 2px 0px 8px 0px;
  text-align: center;
  font-size: 20px;
}

.pro-top-anime-card-container,
.pro-top-manga-card-container {
  display: flex;
  margin: 4px;
  justify-content: center;
}

.pro-top-anime-card,
.pro-top-manga-card {
  padding: 10px;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  margin: 0 .5rem;
  background-color: var(--card-background);
  box-shadow: 0px 0px 8px var(--card-shadow);
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.pro-top-anime-card:hover,
.pro-top-manga-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px var(--primary);
}

.pro-top-anime-card img,
.pro-top-manga-card img {
  max-width: 140px;
  max-height: 200px;
  border-radius: 5px;
}

.pro-activity-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  flex-wrap: wrap;
}

.pro-activity-card {
  background-color: var(--card-background);
  box-shadow: 0px 0px 8px var(--card-shadow);
  display: flex;
  min-height: 100px;
  justify-content: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  margin: 10px auto;
  min-width: 400px;
  transition: transform 0.3s ease, box-shadow 0.3s ease,
    background-color 0.3s ease;
}

.pro-activity-card:hover {
  transform: scale(1.05);
  box-shadow: 0px 0px 8px var(--primary);
}

.pro-activity-card-img {
  max-width: 140px;
}

.pro-activity-card-img img {
  max-width: 140px;
  max-height: 90px;
  object-fit: cover;
}

.pro-activity-card-content {
  flex: 1;
  padding: 20px;
}

.pro-activity-card-description {
  min-width: 200px;
}

.pro-activity-card-details {
  flex: 1;
  text-decoration: underline;
}

.pro-top-manga,
.pro-top-anime {
  flex: 1;
}

@media screen and (max-width: 1100px) {
  .pro-top-manga,
  .pro-top-anime {
    width: 100%;
  }

  .pro-nav ul {
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
  }

  .pro-history {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .pro-genre-overview {
    grid-column: 1;
    grid-row: 2;
  }

  .pro-score-view-1 {
    grid-column: 1;
    grid-row: 3;
  }

  .pro-score-view-2 {
    grid-column: 1;
    grid-row: 4;
  }
}

@media screen and (max-width: 700px) {
  .pro-top-anime-card-container,
  .pro-top-manga-card-container {
    flex-wrap: wrap;
  }

  .pro-genre-overview-container {
    flex-wrap: wrap;
  }

  .pro-genre-overview-field-container {
    margin-bottom: 20px;
  }

  .pro-score-statics {
    flex-direction: column;
    margin-bottom: 20px;
  }

  .pro-score-view-container {
    padding: 20px;
  }
}
